<app-navbar></app-navbar>
<div class="jumbotron vh-100 mb-0">
  <h1>VISITOR LIST</h1>
  <table class="table border">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Queue_number</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Telp</th>
        <th scope="col">Religion</th>
        <th scope="col">Poli</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">A01</th>
        <td>Mark</td>
        <td>Jl.Cilandak</td>
        <td>+62 08123457</td>
        <td>kristen</td>
        <td>Umum</td>
      </tr>
      <tr>
        <th scope="row">A02</th>
        <td>Mark</td>
        <td>Jl.Cilandak</td>
        <td>+62 08123457</td>
        <td>Islam</td>
        <td>Gigi</td>
      </tr>
      <tr>
        <th scope="row">A03</th>
        <td>Mark</td>
        <td>Jl.Cilandak</td>
        <td>+62 08123457</td>
        <td>Buddha</td>
        <td>Kandungan</td>
      </tr>
    </tbody>
  </table>
</div>
